<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="gomage_light_checkout_configuration">
            <group id="payment_methods" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Payment Methods Integrations</label>
                <field id="is_amazon_enabled" translate="label" type="select" sortOrder="100" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Enable Amazon Payment Method</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="amazon_display_in_payment_list" translate="label" type="select" sortOrder="110" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Display Amazon Button In Payment Methods Section</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="is_amazon_enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
        <section id="payment">
            <group id="amazon_payment">
                <field id="sort_order" translate="label" type="text" sortOrder="110" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Sort order</label>
                </field>
            </group>
        </section>
    </system>
</config>
